# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\8.python\内网流量监测\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
